html {
    padding: 0;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    top: -20px;
    background-size: cover;
    background-image: url();
}
#game-container {
    position: relative;
    top: 50px;
}